@import url('https://zfonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

body {
  font-family: 'Inter', sans-serif;
}

@theme {
  --color-blue: #1a80e5;
  --color-background: #121417;
  --color-muted-text: #9eabb8;
  --color-tag: #293038;
  --color-search-bar-bg: #1C2126;
}
